/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
  ),
  url('./assets/weather-app-background.jpeg');
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  height: 100vh; /* Full height */
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #ffffff;
  overflow: hidden;
}

/* Main container */
.main-app {
  background: linear-gradient(135deg, #9c59b696, #ffffff67);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 450px;
  width: 100%;
  margin: 0 20px;
  animation: slideIn 0.8s ease-out forwards;
  opacity: 0;
}

/* Title styles */
.title {
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 30px;
  color: #f1faee;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ffffff, #e2e2e2);
  -webkit-background-clip: text; /* Safari */
  background-clip: text; /* Standard */
  color: transparent;
  animation: fadeIn 1s ease-out forwards;
  opacity: 0;
}

/* Input form styles */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.input {
  padding: 12px 20px;
  font-size: 1rem;
  border: 2px solid #8e44ad;
  border-radius: 30px 0 0 30px;
  outline: none;
  width: 70%;
  background: #f7f7f7;
  color: #333;
  transition: all 0.3s ease;
  animation: fadeIn 1.2s ease-out forwards;
  opacity: 0;
}

.input:focus {
  border-color: #9b59b6;
  box-shadow: 0 0 10px rgba(155, 89, 182, 0.5);
}

.btn {
  padding: 12px 20px;
  background: #9b59b6;
  border: 2px solid #9b59b6;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 0 30px 30px 0;
  transition: all 0.3s ease;
  animation: fadeIn .8s ease-out forwards;
  opacity: 0;
}

.btn:hover {
  background: #8e44ad;
}

.btn:active {
  transform: scale(0.98);
}

/* Weather info section */
.weather-info {
  background: linear-gradient(135deg, #9b59b6, #ec8aff);
  border-radius: 15px;
  padding: 30px;
  margin-top: 30px;
  color: white;
  animation: fadeInUp 1.5s ease-out forwards;
  opacity: 0;
}

.city-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.country {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.temp {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #f1faee;
  background: linear-gradient(90deg, #5c4b8a, #444444);
  -webkit-background-clip: text; /* Safari */
  background-clip: text; /* Standard */
  color: transparent;
}

.feels-like,
.wind-speed {
  font-size: 1.2rem;
  margin: 8px 0;
  color: #f1faee;
}

/* Animations */
@keyframes slideIn {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive design for different devices */
@media (max-width: 768px) {
  .main-app {
    padding: 30px;
    max-width: 90%;
  }

  .title {
    font-size: 2rem;
  }

  .input {
    width: 65%;
  }

  .temp {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  body {
    justify-content: center;
    align-items: center;
    background-size: cover; 
    background-position: center;
  }

  .main-app {
    padding: 15px;
    margin: 0 auto; 
    max-width: 90%; 
  }

  .title {
    font-size: 1.5rem;
  }

  .input {
    width: 55%;
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px;
  }

  .city-name {
    font-size: 1.5rem;
  }

  .temp {
    font-size: 2rem;
  }

  .feels-like,
  .wind-speed {
    font-size: 0.9rem;
  }

  .icon {
    width: 60px;
    height: 60px;
  }
}

/* Responsive design for 350px */
@media (max-width: 350px) {
  body {
    justify-content: center;
    align-items: center;
    background-size: cover; 
    background-position: center;
  }

  .main-app {
    padding: 15px;
    margin: 0 auto; 
    max-width: 90%; 
  }

  .title {
    font-size: 1.5rem;
  }

  .input {
    width: 55%;
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px;
  }

  .city-name {
    font-size: 1.5rem;
  }

  .temp {
    font-size: 2rem;
  }

  .feels-like,
  .wind-speed {
    font-size: 0.9rem;
  }

  .icon {
    width: 60px;
    height: 60px;
  }
}
